/****** GLOBAL ********/

@media screen and (max-width: 500px) {
    html {
        float: none;
        display: block;
        text-align: left;
    }
}

html {
    font-size: 16px;
}

h1 {
    font-size: 2rem;
}

p {

    font-size: 1.5rem;
    text-decoration: none;

}

a {

    color: whitesmoke;

}

/****** BACKGROUND ********/

body {

    background-color: whitesmoke;
    min-height: 100vh;
    display: flex; 
    flex-direction: column;

}

/****** HEADER ********/

.header {
    overflow: hidden;
    background-color: #130208;
    padding: 2vh 10px;
    width: 100%;
}

.header a {
    float: left;
    color: #d53c6a;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
}

.header a.title {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: whitesmoke;
    color: #130208;
}

.header-right {
    float: right;
    margin-right: 5vw;
}

.logo-image {

    width: 3rem;
    height: 3rem;

}
/****** PÁGINA INDEX ********/

.main-background {
    overflow: hidden;
    background-color: #7c183c;
    padding: 6vh 10px;
    width: 100vw;
}

.main-image {

    overflow: hidden;
    margin-left: 10vw;
    border-radius: 200px;
    margin-right: 5vw;
    width: 25rem;
    height: 20rem;

}

.main-image, .subtitle-right {

    float: left;

}

.subtitle-main {
    
    overflow: hidden;
    
}

.persona-container {

    

}




.subtitle-container{

    display: flex;
    justify-content: space-around;

}

.subtitles {

    display: flex;

}

.subtitles p {

    font-size: 2rem;

}

.row-container {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.subtitle-main, .text-right {

    margin-right: 10vw;
    word-wrap: break-word;
}

.imagem img {
    width: 10rem;
    height: 10rem;
    
}

.imagem {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0.5vw;

}

.row {
    display: flex;
    flex-direction: column;
    margin: 20px;
}


/********** FOOTER **********/

.footer {
    margin-top: auto;
    overflow: hidden;
    background-color: #130208;
    padding: 2.5vh;
    width: 98vw;
}

.social-nav {

    background-color: #7c183c;
    padding: 1rem;
}

